@mixin calculatorMixin($background-color, $width) {
  .calculator {
    background-color: $background-color;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;

    label {
      margin-bottom: 10px;
    }

    .errorMessage {
      display: inline-block;
      height: 1.5em;
      min-height: 1.5em;
    }

  }
}
