@mixin calculatorMixin($background-color, $width) {
  .calculatorRow {
    display: flex;
    justify-content: center;
    .calculator {
      background-color: $background-color;
      width: 400px;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px;
  
      label {
        margin-bottom: 10px;
      }
  
      .errorMessage {
        display: inline-block;
        height: 1.5em;
        min-height: 1.5em;
      }
  
    }
  }
}
